
       
       @font-face {
           font-family: caligrafia;
           src: url("../Fonts/AlexBrush-Regular.ttf");
       }
       
       body
        {margin: 0;
            padding: 0;
            font-family: caligrafia;
            font-size: 2em;
            background-image: url("../Imagenes/42280261-mano-pirata-dibujado-de-fondo-sin-fisuras-vector-patrón-.jpg");
            background-size: 40%;
        }
        #container {background-color: ;
            width: 40%;
            padding: 20px;
            border-radius: 1000px;
            margin: 5vh auto;}
        #poema {width: 300px;
                margin: auto;}
        
        #poema h2 {}